In [1]:
x=12

In [2]:
y=20

In [3]:
x*y

240

In [4]:
x+y

32

In [5]:
x-y

-8

In [6]:
y/x

1.6666666666666667

In [7]:
x=int(input('enter first number'))

enter first number10

In [8]:
y=int(input('enter second number'))

enter second number20

In [9]:
p=int(input('enter principal amount'))

enter principal amount10000

In [10]:
n=int(input('enter the number of years'))

enter the number of years3

In [13]:
r=int(input('enter the rate'))

enter the rate10

In [14]:
i=p*n*r/100

In [18]:
t=p+i

In [16]:
print('intrest amount',i)

intrest amount 3000.0

In [22]:
print('total amount',t)

total amount 6000.0

In [23]:
x=int(input("enter your mark"))

enter your mark55

In [25]:
if x > 50:
  print("you are pass")
  if x < 50 :
    print("you are failed")

you are pass

In [26]:
x=int(input("enter your salary"))

enter your salary300000

In [43]:
if x > 250000:
  print("you are taxable")
  print( (x-250000)*10/100)

if x < 250000:
    print("you are not taxable")

you are not taxable

-22500.0